<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
</br>
<div class="ui raised very padded text container segment">
<h1 class="ui header">Learn C++</h1>
<div class="ui horizontal divider">Why</div>


      <p>
	A resource to those who may have less-than-perfect professors, difficult and unclear coursework, or may just need some guidance in their education.
</p>

      <div class="ui tiny message">
		 
  <p>
	  This guide is meant for people who have had very little experience programming so for those of you who arent beginners you might find yourself skipping some content in the beginning. That is perfectly okay!
  </p>
</div>




<div class="ui horizontal divider">How to Use</div>
<p>
	You can hover over <span class="tooltip" style="color:red" data-tooltip="I'm a tooltip! I help with definitions, clarification for possible confusing terms, or even just useful information" data-position="top center">red colored text</span> to see additional information
</p>
<div class="ui horizontal divider">Lessons</div>
<table class="ui compact table">
	<tbody>
	
	<tr>
      <td>Introduction/IO</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">3 Parts to a function</div>
					  <div class="item">How to include a library</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">What is a stream</div>
					  <div class="item">How to read from and write to the console</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/1" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
    </tr>
	
	<tr>
      <td>Variables</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">How to create a variable</div>
					  <div class="item">How to assign a variable</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">What are Primitive Data Types</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/2" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  	</tr>
	
	<tr>
      <td>Operators</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">Types of operators</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">Uses for operators</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/3" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  	</tr>
	
	<tr>
      <td>Functions</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">Properly declaring and defining functions</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">How to use parameters</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/4" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  </tr>
  
  <tr>
      <td>Loops</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">Properly creating and using Loops</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/5" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  </tr>
  
  <tr>
      <td>References and Pointers</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">How memory is stored</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">How to create and use references and pointers</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/6" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  </tr>
  
  <tr>
      <td>Overloading</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">What is overloading</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">How to use overloading to have more organized code</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/7" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  </tr>
  
  <tr>
      <td>Templates</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">What is a template</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">how and why are templates useful</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/8" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  </tr>
  
  <tr>
      <td>Vectors</td>
      <td>
		  <div class="ui two column grid">
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">What is a vector</div>
					  <div class="item">How to use vectors</div>
				  </div>
			  </div>
			  <div class="column">
				  <div class="ui bulleted list">
					  <div class="item">Why not Arrays?</div>
				  </div>
			  </div>
		  </div>
      </td>
      <td class="right aligned">
        <a href="/lesson/9" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
		Launch
		</a>
      </td>
  </tr>
  
	</tbody>
</table>
</div>
</br>
</html>